.nav-container {
    position: sticky;
    top: 0px;
    background-color: #333;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.nav-panel {
    display: inline-block;
    padding: 14px 10px;
    text-decoration-line: none;
    min-height: 20px;
}
.nav-panel a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "DM Sans", Verdana, sans-serif;
}

.header-container {
    text-align: center;
    font-family: "TikTok Sans", Arial, sans-serif;
    padding: 5px;
    height: 100px;
    background-color: #f2f2f2;
}
.logo {
    width: 70px;
    height: auto;
    padding: 0px;
    align:center;
}
.header-title{
    position: relative;
    bottom: 10px;
    margin-top: 0px;
    align:center;
}
